html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

:root {
  --background-color-primary: #fed330;
  // --background-color-primary: #f5cd79;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
